.left-side-bar {
    flex: 2;
    position: sticky;
    top: 53px;
    height: calc(100vh - 53px);
    overflow: scroll;

}

::-webkit-scrollbar {
    display: none;
}



.container{
    padding: 20px;


}

.objects{
    display: flex;
    align-items: center;
    gap: 10px;

}



.hr-left {
    border: 1px solid black;
   margin-top: 15px;
    margin-bottom: 15px;
    height: 1px;
    background-color: black;
    width: 179px
}


.menu {
    display: flex;
    gap: 20px;
    flex-direction: column;

}

.img-left-bar{
    object-fit: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    gap: 10px;

}



.objects-text{
    font-size: 15px;



}



