.register{
    height: 116vh;
    background-color: #133DA9FF;
    justify-content: center;
    align-items: center;
    display: flex;



}

.card2{
    display: flex;
    background-color: #100f0f;
    flex-direction: row-reverse;
    width: 50%;
    border-radius: 5px;
    min-height: 600px;
    overflow: hidden;




}



.left2 {
    flex: 1;
    background:  url("https://w0.peakpx.com/wallpaper/184/137/HD-wallpaper-brick-wall-texture-black.jpg") ;
    background-size: cover;
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.right-h2 {

    font-size: 50px;
    color: #ffffff;


}

.right-text {
    font-weight: bolder;
    font-size: 20px;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    display: flex;






}

.right-span {
    font-size: 15px;
    font-weight: bolder;
    color: white;

}

.right-button {
    width: 100%;
    padding: 5px;
    background-color: #133DA9FF;
    border: none;
    color: white;
    font-weight: bold;
    cursor:pointer;

}

.right2 {
    flex: 1;
    background-color: white;
    display: flex;
    gap: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.right h2{
    color: black;
}

.left-form {
    display: flex;
    flex-direction: column;
    gap: 50px

}

.left-input {
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 20px 10px
}

.register-button {
    width: 101%;
    padding: 5px;
    background-color: black;
    border: none;
    color: white;
    font-weight: bold;
    cursor:pointer;
    justify-content: center;
    align-items: center;

}



