.login{
    height: 100vh;
    background-color: #133DA9FF;
    justify-content: center;
    align-items: center;
    display: flex;



}

.card{
    display: flex;
    background-color: #100f0f;
    width: 50%;
    border-radius: 5px;
    min-height: 600px;
    overflow: hidden;




}



.left {
    flex: 1;
    background:  url("https://img.pixers.pics/pho_wat(s3:700/FO/33/61/77/86/700_FO33617786_11c4ac1c74ba3ab38fd7f1b3e514e7bf.jpg,700,467,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,480,417,jpg)/carte-da-parati-white-wall.jpg.jpg") ;
    background-size: cover;
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.left h1 {

    font-size: 50px;


}

.left  p {
    font-weight: bolder;


}

.left span {
    font-size: 15px;
    font-weight: bolder;

}

.left button {
    width: 100%;
    padding: 5px;
    background-color: #133DA9FF;
    border: none;
    color: white;
    font-weight: bold;
    cursor:pointer;

}

.right {
    flex: 1;
    background-color: black;
    display: flex;
    gap: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.right h1{
 color: white;
}

.right form {
    display: flex;
    flex-direction: column;
    gap: 50px

}

.right form input {
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 20px 10px
}

.right form button {
    width: 101%;
    padding: 5px;
    background-color: white;
    border: none;
    color: black;
    font-weight: bold;
    cursor:pointer;
    justify-content: center;
    align-items: center;

}



